<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>PkPdb - Pharmacokinetic open database.</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <div class="wrapper">
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <header class='header  <%= if is_nil(@conn.assigns[:index]), do: "header-background" %>'>
      <section class="container menu-content">
        <div class="logo">
          <%= link "PkPdb", to: Routes.page_path(@conn, :index) %>
        </div>
        <%= render "_user_menu.html", assigns %>
      </section>
    </header>
    <!-- usar clase white aqui cuando quiera fondo blanco -->
    <main role="main" class='container content container-parent <%= if is_nil(@conn.assigns[:index]), do: "white " %>'>
      <%= @inner_content %>
    </main>
    <footer >
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </footer>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
