<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "PkPdB" %></h1>
  <p>Public, Free and Open Source Pharmacokinetic Data Warehouse</p>
</section>
<section class="phx-hero">
  <div class="h1">Are you looking for a dataset?</div>
  <%= link "Upload a new dataset", to: Routes.dataset_path(@conn, :new) %>
</section>
