<section class="homepage-search">
  <div class="title">
    <div class="title-container">
      <p class="title-text">
        PkPdb is
      </p>
      <ul class="title-list">
        <li class="list-item">free</li>
        <li class="list-item">secure</li>
        <li class="list-item">open</li>
        <li class="list-item">online</li>
      </ul>
    </div>
  </div>
</div>
<%# <input class="homepage-search-field"> %>
<%= form_for @conn, Routes.dataset_path(@conn, :create), [as: :dataset, multipart: true, class: "no-margin"], fn f -> %>
<%= text_input f, :name, class: "homepage-search-field" %>
<% end %>
<div class="search"></div>
<%= link "Upload a new dataset", to: Routes.dataset_path(@conn, :new) %>
</section>
