<section class="homepage-search">
  <div class="title">
    <div class="title-container">
      <p class="title-text">
        PkPdb is
      </p>
      <ul class="title-list">
        <li class="list-item">free</li>
        <li class="list-item">secure</li>
        <li class="list-item">open</li>
        <li class="list-item">online</li>
      </ul>
    </div>
  </div>
</section>
<%# <input class="homepage-search-field"> %>
<%= form_for @conn, Routes.dataset_path(@conn, :basic_search), [as: :search], fn f -> %>
<%= text_input f, :query, class: "homepage-search-field" %>
<% end %>
<div class="homepage-links">
  <%= link "Advanced Search", to: "", class: "button" %>
  <%= link "Upload", to: Routes.dataset_path(@conn, :new), class: "button" %>
</div>
